<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Smoke Suite">
    <parameter name="baseURL" value="https://www.google.com"/>

    <test name="Smoke tests, Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.example.tests.SmokeSuite"/>
        </classes>
    </test>

</suite>